{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% if user.is_authenticated %}
    New Membership Creation
{% endif %}
{% endblock %}

{% block content %}
   <div class="container">
    {% if user.is_authenticated and profile.owner == user %}
        You already have a user profile! Click Member Area link above.
    {% else %}

    <div class="row text-center g-4 mt-3">
        <div>
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h2 mb-3">
                <i class="bi bi-person-add"></i>
              </div>
              <form method="post" enctype="multipart/form-data">
                {{ creation_form | crispy }}
                {% csrf_token %}
                
                {% if user.is_authenticated %}
                    <button class="btn btn-warning" type="submit">Submit</button>
                {% else %}
                    <button type="submit" disabled>Register</button><span><em>Register as a site member before you can create a pofile.</em></span>
                {% endif %}
            </form>
            </div>
          </div>
        </div>
      </div>
    
{% endif %}

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}