{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% if user.is_authenticated %}
    Update Member Profile
{% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post">
            
            {% csrf_token %}
            
            {% if user.is_authenticated %}
            <p>This can not be Undone!</p>
            <p>Are you sure you want to delete</p>
                <a href="/profile" class="btn btn-secondary">No</a>
                <button type="submit" class="btn btn-danger">Yes</button>
            {% else %}
                You do not have a profile!
            {% endif %}
        </form>
        
    {% else %}
        You are not logged in or you do not have a profile yet.
    {% endif %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}