{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% if user.is_authenticated %}
    Update Member Profile
{% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row container">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Update your profile</h3>
            <form method="post" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                
                {% if user.is_authenticated %}
                    <button class="btn btn-warning" type="submit">Update</button>
                {% else %}
                    You do not have a profile!
                {% endif %}
            </form>
        </div>
    </div>
    {% else %}
        You are not logged in or you do not have a profile yet.
    {% endif %}
{% endblock %}