{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}
    Login into your account
{% endblock %}

{% block content %}

<div class="container col-lg-6 mt-3 bottom-footer">
    <div>
        <div class="text-left mb-4">
            <h3 class="text-info">{% trans "Sign In" %}</h3>

            <p>Welcome back to the LH Daily Devotionals. To leave a comment or like a post, please log in. If
                you
                have not created an account yet, then <a class="link text-info" href="{% url 'registration' %}">sign up</a>
                first.</p>
        </div>
    </div>
    <div>
        <div>
            <form class="login form-signin" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-warning" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
