{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}
    Sign Up for a new account
{% endblock %}

{% block content %}
<div class="container bottom-footer col-sm-6 mt-3">
  <div class="row">
    <div>
      <h2 class="text-info">Sign Up</h2>

      <p>Already have an account? Then please <a class="text-dark" href="{{ login_url }}">sign in</a></p>
    </div>
  </div>

  <div class="row text-center g-4">
    <div>
      <div class="card bg-dark text-light">
        <div class="card-body text-center">
          <div class="h3 mb-3">
            <i class="bi bi-person-add"></i>
          </div>
          <form class="signup text-light" id="signup_form" method="post" action="{% url 'registration' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="is_active" value="False">
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-warning" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}