{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

<p>{{ post.description }}</p>
<p>{{ post.date_of_event }}</p>

<p>{{ post.slot }}</p>

<p>{{ post.date_of_event }}</p>

<p>{{ post.registration_expires }}</p>

<p>{{ post.location }}</p>

<hr>
<div>
    {% if user.is_authenticated %}
        <p>Special reg coming soon</p>
    {% else %}
    <form method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <input type="hidden" name="event" value="{{ post.id }}">
        <button class="btn btn-secondary" type="submit">Register</button>
    </form>    
    {% endif %}
</div>
  

{% endblock %}

