{% extends 'base.html' %}

{% block title %}
    Recent Events
{% endblock %}

{% block content %}
    <h1>Archive</h1>
    <em><a href="{% url 'daily' %}">Today's Devotional</a></em>
    <ul>
        {% for post in all_events %}
            <li>
                <h2><a href="{% url 'event_detail'' post.slug %}">{{ post.title }}</a></h2>
                <p>Author: {{ post.author }}</p>
                <p>Date: {{ post.created_on }}</p>
            </li>
        {% empty %}
            <li>No posts available.</li>
        {% endfor %}
    </ul>
{% endblock %}