{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    
{% endblock %}

{% block content %}

<section class="text-light p-5 p-lg-0 pt-lg-5 tSext-center text-center overlap-section ">
  
  <div class="container ">
    <div class="d-sm-flex align-items-center">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Welcome to <span class="text-warning"> Church!</span></h1>
        <p class="lead my-4 d-quote">
          “I am the light of the world. Whoever follows me will not walk in darkness, 
          but will have the light of life.” (John 8:12) -
          Jesus
        </p>
      </div>
    </div>
  </div>
</section>


 
{% endblock %}

{% block js_script %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}