@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.bottom-footer {
  min-height: 85vh;
}



body::before {
  display: block;
  height: 0px;
  content: '';
  
}


.main-content{
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}


.overlap-section {
  background-image: url('../images/header.png');
  background-size: cover;
  height: 57vh;
  position: relative;
  margin-top: 0px;
  z-index: 0;
}


.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.318); /* Transparent background */
  transition: background-color 0.3s ease; /* Smooth transition */
  z-index: 2;
}

.dark-navbar {
  background-color: rgba(0, 0, 0, 0.8); /* Dark background color */
}

.navbg {
  background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
}

.navbar-nav {
  float: right !important;
  text-align: right !important;
}

.navbar-toggler {
  outline: none !important;
}
/* for two page color */
.first-half-color {
    height: 50vh;
    width: 100%;
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    position: absolute;
    z-index: -2;
    top: 0px;
  } 

  .second-half-color {
    height: 125vh;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    z-index: -3;
    top: 0px;
    }

