{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% if user.is_authenticated %}
    Bible App
{% else %}
    Login to access the Bible App
{% endif %}
{% endblock %}

{% block content %}
    <div class="bottom-footer">
            {% if user.is_authenticated %}
        <h2>King James Bible</h2>
        <div class="row container">
            <div class="col-md-8 mt-3 offset-md-2">
                <form id="bible-form">
                    {{ form|crispy }}
                    
                    <div class="form-group">
                        <label for="book-select">Select:</label>
                        <select id="book-select" class="form-control">
                            <option value="" selected>Book</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="chapter-select"></label>
                        <select id="chapter-select" class="form-control">
                            <option value="" selected>Chapter</option>
                        </select>
                    </div>
                    
                    <button class="btn btn-warning btn-sm mt-2" type="submit">Go!</button>
                </form>
                <hr>
                <h2><div id="scripture-title"></div></h2>
                <p><div id="scripture-content"></div></p>
                
            </div>    
        </div>
            
        {% else %}
        <p>To access the Bible app, you need to
                    <a href="{% url 'account_login' %}">Login</a> 
                    or 
                    <a href="{% url 'registration' %}">Register</a>
                </p>
        {% endif %}
    </div>
{% endblock %}

{% block js_script %}
<script src="{% static 'js/bible.js' %}"></script>
{% endblock %}