{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% if user.is_authenticated %}
    Delete Comment
{% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row container bottom-footer">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Delete your comment</h3>
            <p>Other comments would still be visible</p>
            <form method="post">
            
                {% csrf_token %}
                
                {% if user.is_authenticated %}
                <p>This can not be Undone!</p>
                <p>Are you sure you want to delete</p>
                    <a href="javascript:history.back()" class="btn btn-dark">No</a> 
                    <button type="submit" class="btn btn-danger">Yes</button>
                {% else %}
                    No comment found
                {% endif %}
            </form>
        </div>
    </div>
        
    {% else %}
        You are not logged in or you do not have a comment.
    {% endif %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}