{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% if post %}{{ post.title }}{% else %}No Post for Today{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <a href="{% url 'archive' %}">List of previous devotionals</a>
        <p>Date: {{ post.active_date }}</p>
        <p>Memory Verse: {{ post.memory_verse }}</p>
        <p>{{ post.content }}</p>
        <p>Bible Reading Plan: </p>
        <li><a href="{% url 'view_verse' scripture=post.bible_reading_plan1 %}">{{ post.bible_reading_plan1 }}</a></li>
        <li><a href="{% url 'view_verse' scripture=post.bible_reading_plan2 %}">{{ post.bible_reading_plan2 }}</a></li>
    
       <div>
            <p>
                {% if user.is_authenticated %}
                    <form action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="post-like">
                            {% if user in post.likes.all %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </button>
                    </form>
                {% else %}
                    <span>Login to like this Devotional</span>
                {% endif %}
                <span>{{ post.number_of_likes }}</span>
            </p>
       </div>
       <hr>
        <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}
            </strong>
            
            {% endwith %}
        </div>
    
        <div>
            <h2>Write a comment</h2>
            {% if user.is_authenticated %}
                <p>Commenting as: {{ user.username }}</p>
            {% else %}
                <p>To make and like comments, you need to 
                    <a href="{% url 'account_login' %}">Login</a> 
                    or 
                    <a href="{% url 'account_signup' %}">Register</a>
                </p>
            {% endif %}
            {% if user.is_authenticated %}
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    
                    
                <button type="submit">Comment</button>
                </form>
            {% else %}
            {% endif %}
                
        </div>
    
        <!-- Displaying count of comments -->
        <div class="row">
        <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
        </div>
        <div class="col-12">
        <hr>
        </div>
        </div>
        <!-- Displaying Comments -->
        <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags
            to iterate through each comment in comments -->
            {% for comment in comments %}
                <div class="p-2 comments
                {% if not comment.approved and comment.author == user %}
                faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class="font-weight-normal">
                    {{ comment.created_on }}
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body | linebreaks }}
                    <p>Likes: {{ comment.likes2_count }}</p>
                    {% if user.is_authenticated %}
                        
                                {% if request.user in comment.likes2.all %}
                                <form action="{% url 'like_comment' comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="like-comment">
                                    Unlike
                                </button>
                                {% elif request.user == comment.author %}
                                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                                    <button class="btn btn-delete"comment_id="{{ comment.id }}">Delete</button>
                                    You're the author(Icon here)
                                {% else %}
                                <form action="{% url 'like_comment' comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="like-comment">
                                    like
                                </button>
                                {% endif %}
                            
                        </form>
                    {% else %}
                        <span><i class="far fa-heart"></i> or remove</span>
                    {% endif %}
                </div>
    
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
        </div>
        </div>
        </div>  
    
    </div>
{% endblock %}

{% block js_script %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}