{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>Author: {{ post.author }}</p>
    <p>Active Date: {{ post.active_date }}</p>
    <p>Memory Verse: {{ post.memory_verse }}</p>
    <p>{{ post.content }}</p>
    <p>
        {% if user.is_authenticated %}
        <form action="{% url 'post_like' post.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}

            <button type="submit" name="devotionalpost_id" value="{{post.slug}}">
                <i class="fas fa-heart">like it!</i>
            </button>

            {% else %}
            <button type="submit" name="devotionalpost_id" value="{{post.slug}}">
                <i class="fas fa-heart">liked</i>
            </button>

            {% endif %}
        </form>
        {% else %}
        <span><i class="far fa-heart">Cannot-Like</i></span>
        {% endif %}
        <span>{{ post.number_of_likes }}</span>
    </p>
    <div class="col-1">
        {% with comments.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
            {{ total_comments }}
        </strong>
        
        {% endwith %}
    </div>
   
    <div>
        <h2>Write a comment</h2>
    <p>Commenting as: {{ user.username }}</p>
    <form method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit">Comment</button>
    </form>
    </div>

    <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>

    
{% endblock %}
