{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="devcontent">
        <h1>{{ post.title }}</h1>
        <p>Active Date: {{ post.active_date }}</p>
        <p>Memory Verse: {{ post.memory_verse }}</p>
        <p>{{ post.content }}</p>
        
    </div>

    <div class="postlikecontent">
        {% if user.is_authenticated %}
        <p>
            {% if not post.comment.all %}
            <a href="#" class="btn btn-outline-warning btn-sm rounded-circle mr-5 ml-5 commentfocus"><i class="bi bi-chat"></i></a>
            {% else %}
            <a href="#" class="btn btn-outline-warning btn-sm rounded-circle mr-5 ml-5 commentfocus"><i class="bi bi-chat-fill"></i></a>
            {% endif %}
            <span>{% with comments.count as total_comments %}{{ total_comments }}{% endwith %}</span>
            {% if user in post.likes.all %}
            <a href="{% url 'post_like' post.slug %}" class="btn btn-warning btn-sm rounded-circle"><i class="bi bi-hand-thumbs-up-fill"></i></a> 
            {% else %}
            <a href="{% url 'post_like' post.slug %}" class="btn btn-outline-warning btn-sm rounded-circle"><i class="bi bi-hand-thumbs-up"></i></a>
            {% endif %}
            <span> {% with comments.count as total_comments %}{{ post.number_of_likes }}{% endwith %}</span>
        </p>
        {% else %}
        <p>
            {% if not post.comment.all %}
            <a href="#" class="btn btn-outline-warning btn-sm rounded-circle mr-5 ml-5 disabled"><i class="bi bi-chat"></i></a>
            {% else %}
            <a href="#" class="btn btn-outline-warning btn-sm rounded-circle mr-5 ml-5 disabled"><i class="bi bi-chat-fill"></i></a>
            {% endif %}
            <span>{% with comments.count as total_comments %}{{ total_comments }}{% endwith %}</span>
            {% if user in post.likes.all %}
            <a href="#" class="btn btn-warning btn-sm rounded-circle disabled"><i class="bi bi-hand-thumbs-up-fill"></i></a> 
            {% else %}
            <a href="#" class="btn btn-outline-warning btn-sm rounded-circle disabled"><i class="bi bi-hand-thumbs-up"></i></a>
            {% endif %}
            <span> {% with comments.count as total_comments %}{{ post.number_of_likes }}{% endwith %}</span>
        </p>
        {% endif %}

    </div>
    <div>
        <p>Bible Reading Plan:</p>
        <ul>
            <li><a href="{% url 'view_verse' scripture=post.bible_reading_plan1 %}">{{ post.bible_reading_plan1 }}</a></li>
            <li><a href="{% url 'view_verse' scripture=post.bible_reading_plan2 %}">{{ post.bible_reading_plan2 }}</a></li>
        </ul>
    </div>

    <div class="commentsectiontitle">
        <h5>Comments</h5>
    </div>

    <div class="usercomments">
        {% for comment in comments %}
        <p>{{ comment.author }}, ({{ comment.created_on }}) wrote:{{ comment.id }}</p>
        <p>{{ comment.body | linebreaks }}</p>
        {% if user.is_authenticated and comment.author == user %}
        <p class="condition1">
            {% if not comment.likes2.all %}
            <a href="" class="like-comment btn btn-outline-warning btn-sm rounded-circle disabled"><i class="bi bi-hand-thumbs-up"></i></a>
            {% else %}
            <a href="" class="like-comment btn btn-outline-warning btn-sm rounded-circle disabled"><i class="bi bi-hand-thumbs-up-fill"></i></a>
            {% endif %} {{ comment.likes2_count }}
        </p>
        <p>
            <a href="{% url 'update_comment' pk=comment.id %}" type="button" class="btn btn-edit btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete_comment' pk=comment.id %}" type="button" class="btn btn-edit btn-danger btn-sm">Delete</a>
        </p>

        {% elif user.is_authenticated and comment.author != user %}
        <p class="condition2">
            {% if not comment.likes2.all %}
            <a href="{% url 'like_comment' comment.id %}" class="like-comment btn btn-outline-warning btn-sm rounded-circle"><i class="bi bi-hand-thumbs-up"></i></a>
            {% elif user in comment.likes2.all %}
            <a href="{% url 'like_comment' comment.id %}" class="like-comment btn btn-warning btn-sm rounded-circle"><i class="bi bi-hand-thumbs-up-fill"></i></a>
            {% else %}
            <a href="{% url 'like_comment' comment.id %}" class="like-comment btn btn-outline-warning btn-sm rounded-circle"><i class="bi bi-hand-thumbs-up"></i></a>
            {% endif %} {{ comment.likes2_count }}
        </p>
        {% else %}
        <p class="condition3">
            {% if not comment.likes2.all %}
            <a href="" class="like-comment btn btn-outline-warning btn-sm rounded-circle disabled"><i class="bi bi-hand-thumbs-up"></i></a>
            {% else %}
            <a href="" class="like-comment btn btn-outline-warning btn-sm rounded-circle disabled"><i class="bi bi-hand-thumbs-up-fill"></i></a>
            {% endif %} {{ comment.likes2_count }}
        </p>
        {% endif %}
        {% endfor %}
              
    </div>

    <div class="writeacomment">
        <h5>Write a comment</h5>
        {% if user.is_authenticated %}
        <p>Commenting as: {{ user.username }}</p>
            <div>
                <form id="commentForm" method="post">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button id="submitButton" type="submit" class="btn btn-warning btn-sm">Submit</button>
                </form>
            </div>
            
        {% else %}
        <p>To make or like comments, you need to <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'registration' %}">Register</a></p>
        {% endif %}
    </div>
</div>


{% endblock %}



{% block js_script %}

{% endblock %}