{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Bible | Scripture Reading
{% endblock %}

{% block content %}

    <body>
        {% if book_name and chapter and verse_text %}
            <h1>{{ book_name }} {{ chapter }}</h1>
            <pre>{{ verse_text }}</pre>
        {% elif error %}
            <p>{{ error }}</p>
        {% endif %}

        <div id="scripture-container"></div>
    </body>

 
{% endblock %}

{% block js_script %}
<script>
    $(document).ready(function() {
        $('.scripture-link').click(function(e) {
            e.preventDefault(); // Prevent default link behavior
            
            var scripture = $(this).data('scripture');
            var apiUrl = 'https://bible-api.com/' + scripture + '?translation=kjv&verse_numbers=true';
    
            // Make AJAX request to fetch scripture data
            $.ajax({
                url: apiUrl,
                method: 'GET',
                success: function(response) {
                    var verses = response.verses;
                    var verseText = '';
    
                    // Construct verse text
                    for (var i = 0; i < verses.length; i++) {
                        verseText += verses[i].verse + '. ' + verses[i].text + '<br>';
                    }
    
                    // Display scripture data on the page
                    $('#scripture-container').html('<h2>' + response.book_name + ' ' + response.verses[0].chapter + '</h2>' + verseText);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching scripture:', error);
                    // Handle error
                }
            });
        });
    });
    </script>
{% endblock %}
