{% load static %}

{% url 'home' as 'daily' %}
{% url 'about' as member_area_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    {% block custom_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Daily Devotional</h1>
        <!-- You can add navigation, logo, etc. here -->
        <nav>
            <ul>
            <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'daily' %}">Devotional</a></li>
            <span class="nav-item"><a class="nav-link" href="{% url 'archive' %}">Archive</a></span>
            <li class="nav-item"><a href="{% url 'current_programmes' %}">Programmes</a></li>
            <span class="nav-item"><a class="nav-link" href="{% url 'programe_list' %}">All Events</a></span>

            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'bible' %}" aria-current="Bible app" >Bible App</a></li>
            <li class="nav-item"><a href="{% url 'view_membership_profile' %}" aria-current="member area" >Member Area</a></li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="logout page" href="{% url 'account_logout' %}">Logout</a>
            </li>
            
            <p>You are logged in as {{ user }}</p>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
            <p>You are not logged in</p>
            {% endif %}
            </ul>
        </nav>
    </header>
    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible
            fade show" id="msg" role="alert">
            <em>{{ message | safe }}</em>
            <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close">X</button>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!-- Footer content -->
        &copy; 2024 Copyright
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    {% block extras %} 
    {% endblock %}
</body>
</html>