{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Messages
{% endblock %}

{% block content %}
<h1>
    {% for post in message_received %}
            <li>
                
                <p>Receiver: {{ post.author }}</p>
                <p>Sender: {{ post.sender }}</p>
                <p>Message: {{ post.message }}</p>
                <p>Time Sent: {{ post.created_on }}</p>
            </li>
            {% if forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}



        {% empty %}
            <li>No tweets found.</li>
        {% endfor %}
</h1>
{% if message_sent %}
<h2>Sent Messages</h2>
<h1>{{ request.user }}</h1>
<h1>{{ request.user_id }}</h1>
<p>{{ message_received.message }}</p>
<p>{{ message_sent.message }}</p>

<ul>
    {% for message in message_received %}
        <li>{{ message.content }}</li>
        <!-- Display other message attributes as needed -->
    {% endfor %}
</ul>
{% else %}
<p>No messages sent yet.</p>
{% endif %}

{% if message_received %}
    <h2>Received Messages</h2>
    <ul>
        {% for message in message_received %}
            <li>{{ message.content }}</li>
            <!-- Display other message attributes as needed -->
        {% endfor %}
    </ul>
{% else %}
    <p>No messages sent yet.</p>
{% endif %}

    <form method="post">
        {{ message_form | crispy }}
        {% csrf_token %}
        
        
    <button type="submit">Send</button>
    </form>
{% endblock %}

{% block js_script %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}